.knowledges {
	z-index: 15;
	margin-bottom: 150px;
	-webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.img__knowledges {
	position: relative;
	width: 100%;
	height: 550px;
}

.img__computer {
	width: 100%;
	height: 550px;
	object-fit: cover;
	position: absolute;
	-webkit-animation: fade-in 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
}
      @keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
}

.title__knowledges {
	position: absolute;
	top: 30%;
    	left: 45%;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin-top: 80px;
	margin-bottom: 80px;
	text-align: center; 
	color: white;
	letter-spacing: 1rem;
	font-size: 30px;
	-webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-contract-bck {
	0% {
	  letter-spacing: 1em;
	  -webkit-transform: translateZ(300px);
		  transform: translateZ(300px);
	  -webkit-filter: blur(12px);
		  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateZ(12px);
		  transform: translateZ(12px);
	  -webkit-filter: blur(0);
		  filter: blur(0);
	  opacity: 1;
	}
}

@keyframes focus-in-contract-bck {
	0% {
	  letter-spacing: 1em;
	  -webkit-transform: translateZ(300px);
		  transform: translateZ(300px);
	  -webkit-filter: blur(12px);
		  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateZ(12px);
		  transform: translateZ(12px);
	  -webkit-filter: blur(0);
		  filter: blur(0);
	  opacity: 1;
	}
}

.items {
	display: flex;
	flex-direction: column;
    	justify-content: center;
    	flex-wrap: wrap;	
}

.informations {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 12px;
	margin: 50px 22px;
}

.title_info {
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	text-align: center; 
	color: white;
	letter-spacing: .9rem;
	font-size: 25px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 30px;
	margin-bottom: 50px;	
}

.list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 25px;
}

.info_icons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 30px;
}

.icon {
	font-size:45px;
	color: white;
}

.p {
	font-size: 15px;
	letter-spacing: 3px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 15px;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	box-sizing: content-box;
	border: 1px solid black;
	padding: 5px;
	border-radius: 5px;
	background-color: black;
	color: white;
}


@media screen and (max-width: 1100px) {
	.title__knowledges {
		left: 45%;
		font-size: 25px;
		letter-spacing: .8rem;
	}

	.title_info {
		font-size: 20px;
	}

	.p {
		font-size: 12px;
	}
}

@media screen and (max-width: 600px) {
	.title__knowledges {
		left: 35%;
		font-size: 20px;
	}

	.title_info {
		font-size: 18px;
	}

	.p {
		font-size: 11px;
	}
}

@media screen and (max-width: 480px) {
	.list {
		justify-content: center;
		align-items: center;
	}
	.title__knowledges {
		left: 15%;
		font-size: 18px;
	}

	.title_info {
		font-size: 17px;
	}

	.p {
		font-size: 10px;
	}
}

@media screen and (max-width: 320px) {
	.title__knowledges {
		letter-spacing: .7rem;
		font-size: 15px;
	}

	.title_info {
		font-size: 15px;
	}

	.p {
		font-size: 10px;
	}
	
	.informations {
		margin-left: 0;
		margin-right: 0;
		margin-top: 50px;
		padding: 0;
	}
}