.slider {
	display: flex;
	align-items: center;
	opacity: 0;
	transform: scale(85%);
	transition: 2s;
}

.slider--zoom {
	opacity: 1;
	transform: scale(100%);
	transition: 2s;
	margin: 30px;
}

.slider__image {
	object-fit: cover;
	width: 50%;
	height: 100%;
}

.slider__content {
	flex: 1;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	padding: 25px;
	text-align: center;
}

.slider__title {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 45px;
	margin-bottom: 70px;
	letter-spacing: 1.1rem;
	text-transform: uppercase;
	color: white;
}


.slider__paragraphe, .slider__paragraphe1, .slider__paragraphe2, .slider__paragraphe3, .slider__paragraphe4 {
	font-size: 14px;
	font-weight: 200;
	font-family: 'Poppins', sans-serif;
	letter-spacing: .2rem;
	margin-bottom: 30px;
	color: white;
}


@media screen and (max-width: 900px) {
	.slider {
		display: flex;
		flex-direction: column-reverse;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 100px;
	}

	.slider__image {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	.slider__title {
		font-size: 65px;	
	}
	.slider__paragraphe, .slider__paragraphe1, .slider__paragraphe2, .slider__paragraphe3, .slider__paragraphe4 {
		font-size: 25px;
	}
}
@media screen and (max-width: 600px) {
	
	.slider {
		display: flex;
		flex-direction: column-reverse;
	}

	.slider__image {
		width: 100%;
		margin: 30px;
	}
	.slider__content {
		padding: 0;
	} 

	.slider__title {
		font-size: 55px;
	}
	.slider__paragraphe, .slider__paragraphe1, .slider__paragraphe2, .slider__paragraphe3, .slider__paragraphe4 {
		font-size: 20px;
	}
}