.slider {
	display: flex;
	align-items: center;
	opacity: 0;
	transform: scale(85%);
	transition: 2s;
}

.slider--zoom {
	opacity: 1;
	transform: scale(100%);
	transition: 2s;
	margin-left: 15px;
    	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 40px;
}

.slider__image {
	object-fit: cover;
	width: 50%;
	height: 100%;
}

.slider__content {
	flex: 1;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.slider__title {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 1rem;
	text-transform: uppercase;
	font-size: 40px;
	color: white;
	margin-bottom: 25px;
}

.paragraphs {
	max-width: 650px;
}

.slider__paragraphe, .slider__paragraphe1, .slider__paragraphe2, .slider__paragraphe3, .slider__paragraphe4 {
	font-size: 15px;
	font-weight: 200;
	font-family: 'Jost', sans-serif;
	letter-spacing: 3px;
	color: white;
	padding: 25px;
}


@media screen and (max-width: 1100px) {

	.slider {
		display: flex;
		flex-direction: column-reverse;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 100px;
	}

	.slider__image {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	.slider__content {
		margin-top: 20px;
	}

	.slider__title {
		margin-top: 30px;
		font-size: 35px;	
	}

	.paragraphs {
		max-width: 1100px;
	}

	.slider__paragraphe, .slider__paragraphe1, .slider__paragraphe2, .slider__paragraphe3, .slider__paragraphe4 {
		font-size: 14px;
	}
}

@media screen and (max-width: 600px) {
	
	.slider {
		display: flex;
		flex-direction: column-reverse;
	}

	.slider__image {
		width: 100%;
		margin: 30px;
	}

	.slider__content {
		padding: 0;
		margin-top: 0;
	} 

	.slider__title {
		font-size: 30px;
	}

	.paragraphs {
		max-width: 600px;
	}

	.slider__paragraphe, .slider__paragraphe1, .slider__paragraphe2, .slider__paragraphe3, .slider__paragraphe4 {
		font-size: 13px;
		padding: 20px;
	}
}
@media screen and (max-width: 480px) {
	.slider__title {
		font-size: 25px;
		letter-spacing: .6rem;
	}

	.paragraphs {
		max-width: 480px;
	}

	.slider__paragraphe, .slider__paragraphe1, .slider__paragraphe2, .slider__paragraphe3, .slider__paragraphe4 {
		font-size: 12px;
		padding: 15px;
	}
}

@media screen and (max-width: 320px) {
	.slider__title {
		font-size: 18px;
	}

	.paragraphs {
		max-width: 320px;
	}
	
	.slider__paragraphe, .slider__paragraphe1, .slider__paragraphe2, .slider__paragraphe3, .slider__paragraphe4 {
		padding: 10px;
	}
}